In [1]:
import pandas as pd
import numpy as np

In [2]:
# import dataframes
X_train = pd.read_csv('./data/X_train_adult.csv')
X_test = pd.read_csv('./data/X_test_adult.csv')
y_train = pd.read_csv('./data/y_train_adult.csv')
y_test = pd.read_csv('./data/y_test_adult.csv')

print(X_train.shape)
print(X_test.shape)

(26048, 14)
(6513, 14)

In [10]:
X_train = X_train.drop(['Unnamed: 0'], axis=1)

In [11]:
X_train

,age,workclass,fnlwgt,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,-0.018736,3,0.656540,13,2,2,0,4,1,-0.300212,-0.222963,0.775410,38
1,1.055717,3,-0.689793,14,0,9,1,4,0,-0.300212,-0.222963,-0.034014,38
2,-1.794096,3,0.377046,10,4,12,1,4,0,-0.300212,-0.222963,-1.248149,38
3,-1.651603,3,-0.710512,9,4,5,3,4,1,-0.300212,-0.222963,-0.843438,38
4,1.107644,6,-0.228548,9,2,9,0,4,1,-0.300212,-0.222963,-0.034014,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26043,0.601156,3,0.248914,14,0,3,4,4,1,3.323021,-0.222963,2.394257,38
26044,-0.018736,3,0.133783,7,0,13,1,4,1,-0.300212,-0.222963,-0.034014,38
26045,0.721957,3,0.862314,12,6,7,3,4,0,-0.300212,-0.222963,-0.438726,38
26046,0.893847,5,0.324749,16,2,9,0,4,1,-0.300212,-0.222963,-1.410034,38
26047,-1.794096,3,1.498658,9,4,0,1,4,0,-0.300212,-0.222963,-0.034014,38